html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background-image: url(../assets/ImagemLogin.jpg);
    display: flex;
    width: 100%;
    height: 100vh; 
    margin: 0;
    padding: 0;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    background: linear-gradient(90deg, #04112e 0%, #091d47 100%);
}

.navbar .container_navbar{
    width: 70%;
    height: 100%;
}

.navbar .logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    align-self: center;
    
}

.navbar .logo .fundo_logo{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 70%;
    height: 100%;
}

.navbar .logo .fundo_logo p{
    font-family: titleFont;
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
}

.navbar .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70%;
    font-family: titleFont;
    color: white;
    font-size: 20px;
}

.navbar .menu a{
    color: #fff;
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}

.navbar .menu .menu_item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.avaliacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-family: titleFont;
    color: #fff;
}

.avaliacao .container_card{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 64%;
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px #252525;
}

.avaliacao .container_card .feedback{
    height: 100px;
    width: 70%;
    border: 4px solid #091d47;
    background-color: transparent;
    border-radius: 20px;
    font-family: textFont;
    font-size: 30px;
    color: #091d47;
    padding: 5px;
}


.avaliacao .container_card .avaliacao_estrelas{
    display: flex;
    width: 80%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
}

.avaliacao .container_card .avaliacao_estrelas img{
    width: 100px;
    height: 100px;
}

.avaliacao .container_card .avaliacao_estrelas img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.avaliacao .container_card button{
    background-color: #091d47;
    width: 130px;
    height: 30px;
    border: 1px solid #224ea7;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.avaliacao .container_card button:hover{
    background-color: transparent;
    color: #fff;
    background-color: #224ea7;
}