@font-face {
    font-family: Vogue Font;
    src: url(assets/Vogue.ttf);
}

body {
    margin: 0;
}

.navbar {
    background-color: #224ea7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 1000;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    width: 530px;
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 180px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    color: #ecf3f1;
}

.banner {
    background-color: grey;
    background-size: cover;
}

.card {
    width: 30%;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #224ea7;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.card .IconLogin img{
    margin: 45px;
    height: 90px;
    margin-bottom: 11px;
    align-items: center;
}

.formulario {
    display: flex;
    height: 90%;
    width: 80%;
    align-items: center;
    flex-direction: column;
    background-color: #e5e5e5 ;
}
.formulario span{
    margin-right: 10px;
    margin: -5px;
}
.formulario input{
    border: 2px solid #e5e5e5;
    text-align: center;
    margin: 0.5px;
    width: 160px;
}

.card{
    display: flex;
    width: 21%;
    height: 55%;
}

.Cadastro .container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.botao{
    border: 0;
    font-weight: 504;
    font-size: 19px;
    color: #e5e5e5;
    cursor: pointer;
    width: 120px;
    align-self: center;
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    border: 2px solid #224ea7;;
    background: #224ea7;
}
.botao:hover {
    background: #e5e5e5;
    color: #224ea7
  }

.Cadastro {
    position: relative; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/ImagemCadastro.avif);
    background-size: cover;
}

.Cadastro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.menssagemLogin{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: #224ea7;
}

.menssagemLogin a{
    color: #224ea7;
}

.loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  #div_erros_login {
    display: none
  }
  
  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #e5e5e5;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 15px;
    border: #224ea7 3px solid;
    padding: 10px;
    margin-right: 10%;
    margin-top: 100px;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }