@font-face {
    font-family: Vogue Font;
    src: url(assets/Vogue.ttf);
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
}

.navbar {
    background-color: #224ea7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 1000;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    width: 530px;
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 180px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    color: #ecf3f1;
}

.banner {
    background-color: grey;
    background-size: cover;
}

.card {
    display: flex;
    width: 48vh;
    height: 55vh;
    background-color: #e5e5e5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #224ea7;
    z-index: 100;
}

.card .IconLogin img{
    margin: 40px;
    height: 100px;
    margin-bottom: 10px;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e5e5e5 ;
}

.formulario input{
    border: 1px solid #000000;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
    margin: 2px;
    width: 160px;
    background: none;
}

.Cadastro .container {
    display: flex;
    justify-content: center;
}

.botao{
    border: 0;
    font-weight: 504;
    font-size: 19px;
    color: #e5e5e5;
    cursor: pointer;
    width: 135px;
    align-self: center;
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    border: 2px solid #224ea7;;
    background: #224ea7;
}
.botao:hover {
    background: #e5e5e5;
    color: #224ea7
  }

.Cadastro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/ImagemCadastro.avif);
    background-size: cover;
}

.Cadastro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.menssagemLogin{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    color: #224ea7;
}

.menssagemLogin a{
    color: #224ea7;
}

