@font-face {
    font-family: Vogue Font;
    src: url(assets/Vogue.ttf);
}

body {
    margin: 0;
}

.navbar {
    background-color: #224ea7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 1000;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    width: 530px;
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 180px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    color: #ecf3f1;
}


.Elenco .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.TituloElenco{
    color: #224ea7;
    margin: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: larger;
}

.box{
    width: 100%;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.box{
    padding: 5%;
    width: 100%;
    height: auto;
    margin: 30px;
    border-bottom: #BEC0C2 1px solid;
    border-right: #BEC0C2 1px solid;
}

.circulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo img {
    height: 150%; 
    width: 150%;
}

.cabecalho {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecalho p {
    color: #224ea7;
    font-weight: bold;
}

.cabecalho h1{
    color: #224ea7;
    font-size: 100px;
}

.boxes6 .box3  .cabecalho h1{
    color: transparent;
}