@font-face {
    font-family: Vogue Font;
    src: url(assets/Vogue.ttf);
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
}

.navbar {
    background-color: #224ea7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 1000;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    width: 530px;
    font-size: larger;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-right: 180px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: #ecf3f1;
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/imagemInicio.avif);
    background-size: cover;
    height: 100vh;
}

.card {
    display: flex;
    height: 100%;
    width: 100%;
}

.titulo {
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;
    opacity: 0.8;
}

.banner-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tituloHistoria {
    color: #224ea7;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.BufalloBraves {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.EsquerdaBufallo {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.DireitaBufallo {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.imagemBufallo img {
    position: relative;
    z-index: 1;
    height: 250px;
}

.texto-direita {
    display: flex;
    width: 59%;
    font-size: large;
    flex-direction: column;
}

.SanDiego {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
}

.EsquerdaSanDiego {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.DireitaSanDiego {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.ImagemSanDiego img {
    display: flex;
    position: relative;
    z-index: 2;
    height: 250px;
}

.texto-esquerda {
    display: flex;
    width: 59%;
    font-size: large;
    flex-direction: column;
}

.Clippers {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
}

.EsquerdaClippers {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.DireitaClippers {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.ImagemLAclippers img {
    display: flex;
    position: relative;
    z-index: 2;
    height: 240px;
}

.texto-direita-2 {
    display: flex;
    width: 59%;
    font-size: large;
    flex-direction: column;
}

.banner-3 .container {
    display: flex;
    background-color: #f5f5f5;
    height: 78vh;
    width: 100%
}

.tituloJerseys h2 {
    display: flex;
    color: #224ea7;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    position: absolute;
}

.jersey {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 550px;
    width: 180px;
}

.jersey img:hover {
    transition: 0.3s ease-in-out;
    height: 320px;
}

.jersey img {
    height: 300px;
}

.jersey h3 {
    font-weight: 400;
    color: #224ea7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner-4 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TituloSobreMim {
    color: #224ea7;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.content-Sobremim {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.texto p {
    font-size: 1.1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    margin-left: 130px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-Sobremim img {
    height: 400px;
    border-radius: 10%;
    object-fit: cover;
    border: 3px solid #224ea7;
    z-index: 1;
    margin-left: 200px;
}



.footer .container {
    background: linear-gradient(90deg, #122a5a 0%, #2c5fc5 100%);
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100%;
}

.logotipo2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ecf3f1;
}

.contato {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: #ecf3f1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contato li {
    display: flex;
    margin: 5px;
}

.contato li img{
    display: flex;
    margin: 15px;
    height: 16px;
    margin-top: 0;
}

.contato img{
    height: 30px;
    margin: 20px;
}

.contato img:hover {
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.teste {
    gap: 5vh;
    display: flex;
    flex-direction: column;
}