
html{
    overflow-x: hidden;
}
body {
  margin: 0;
}

.navbar {
  background-color: #224ea7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  z-index: 1000;
}

.navbar .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container ul {
  width: 530px;
  font-size: larger;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-right: 180px;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.navbar a:hover{
  color: #ecf3f1;
}

button {
  cursor: pointer;
}

body {
  position: relative;
  background-image: url(../assets/Halo-Board-Rendering_1920x1080.jpg);
  color: #fff;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: -1; /
}

.questao-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.questao {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.resposta-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.resposta:disabled {
  cursor: not-allowed;
}

.proxima-pergunta {
  margin-top: 32px;
}

.button {
  background-color: #224ea7 ;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  height: 48px;
  padding: 0 28px;
  transition: filter 0.1s;
}

.button-refazer {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: filter 0.1s;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.button-refazer:not(:disabled):hover {
  filter: brightness(0.8);
}

a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}

a:focus {
  outline: none;
}

.button:not(:disabled):hover {
  filter: brightness(0.8);
}

.mensagem-final {
  font-size: 20px;
  text-align: center;
}

.mensagem-final span {
  display: block;
  margin-top: 8px;
}

.hide {
  display: none;
}

.correto {
  background-color: #049b48;
}

.incorreto {
  background-color: #a10101;
}